/* Make profile subtitle links underlined (copied from `footer.css`). */
.profile_inner > span a {
  color: inherit;
  border-bottom: 1px solid var(--secondary)
}
.profile_inner > span a:hover {
  border-bottom: 1px solid var(--primary)
}
.profile_inner > span a:hover {
    color: var(--primary)
}

/* Add bottom margin to profile subtitle. */
.profile_inner > span {
  display: block;
  padding: 0 0 12px 0 !important;
}

/* Preserve margin after list items (also adds proper space before code blocks
nested in lists). */
.post-content li p {
  margin-bottom: var(--content-gap) !important;
}

/* Force space between "Search" text and icon on search page when HTML
minification is enabled. */
.page-header > h1 > svg {
  margin-left: 1rem;
}

/* Improve styles of tags, categories, ... (taxonomies) below each post. */
.post-tags-container {
  margin-bottom: 12px;
}
.post-tags-container > a {
  margin-inline-end: 6px;
}
.post-tags {
  display: inline-block;
}

/* Styles for `samp` shortcode (inspired by code highlighting styles). */
.post-single samp {
  font-family: Menlo, Monaco, 'Courier New', Courier, monospace;
  font-size: .78em;
  line-height: 1.5;
  display: block;
  margin: auto 0;
  padding: 10px;
  color: rgba(255, 255, 255, .8);
  background: 0 0;
  border-radius: 0;
  overflow-x: auto;
}

/* Make vertical screenshots smaller. */
.screenshot img {
  max-height: 20rem;
  margin-left: auto;
  margin-right: auto;
}
