<h2 id="comments">Comments <small>via <a href="https://cactus.chat/">cactus.chat</a></small></h2>
<div id="comment-section"></div>
{{- /* Comments via cactus.chat (based on matrix.org) */ -}}
<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
<script>
  initComments({
    node: document.getElementById("comment-section"),
    defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
    serverName: "cactus.chat",
    siteName: "janjones",
    commentSectionId: "{{ .Slug }}"
  })
</script>
