{{- $scratch := newScratch}}

{{- if not .Date.IsZero -}}
{{- $scratch.Add "meta" (slice (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat))) }}
{{- end -}}

{{- if (and .Site.Params.ShowReadingTime (not .Params.disableReadingTime)) -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%s min" .ReadingTime))) }}
{{- end -}}

{{ with (partial "author.html" . ) }}
{{ $scratch.Add "meta" (slice .)}}
{{end}}

{{- if not (.Lastmod.Equal .Date) -}}
{{- with (partial "updated.html" .) -}}
{{- $scratch.Add "meta" . -}}
{{- end -}}
{{- end -}}

{{- with ($scratch.Get "meta")}}
{{- delimit . "&nbsp;·&nbsp;"}}
{{- end }}
